<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="group_name"><%= f.label :name, "Group's name"%><%= f.text_field :name, :class => 'name' %></p>
  <ul>
    <% @users.each do |user| %>
     <li><%= check_box_tag "user[#{user.id}]", user.email %><span><%= label_tag "user[#{user.id}]", user.name %><span></li>
    <% end %>
  </ul>

  <%= f.submit "Create group", :class => 'submit' %>

<% end %>
