<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Total points:</b>
  <%=h @user.points %>
</p>

<div id="thanks_history">
  <h2>Points history:</h2>
  <ul>

  <% thanks_for_user(@user).each do |thank| %>
    <li>Thanks to <span><%=h target_user(thank) %></span><%=h thank.message %></li>
  <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_account_path %>