<div id="admin">
  <div class="inner company">
    <%= render 'administration/menu' %>

    <h1>Listing companies</h1>
    <p>
      <%= link_to 'New Company', new_company_path %>
    </p>

    <table class="list">
      <tr>
        <th>Company</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
