<div id="admin">
  <div class="inner company">
    <%= render 'administration/menu' %>
    <p id="notice"><%= notice %></p>

    <p>Company: <%= @company.name %></p>

    <p>
      <%= link_to 'Edit', edit_company_path(@company) %> |
      <%= link_to 'Back', companies_path %>
    </p>
    </div>
  </div>
