<div id="login">
  <div class="inner">
    <h2><%= image_tag('login.jpg', :alt => 'login') %></h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p><%= image_tag('email.jpg', :alt => 'email', :class =>"email") %>
      <%= f.text_field :email %></p>

      <p><%= image_tag('password.jpg', :alt => 'password', :class =>"password") %>
      <%= f.password_field :password %></p>

      <% if devise_mapping.rememberable? -%>
        <p class="checkbox"><%= f.check_box :remember_me  %> <%= f.label :remember_me %></p>
      <% end -%>

      <p class="reset"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
      <p><%= f.submit "Login", :class => "submit" %></p>

    <% end %>

  </div>
</div>