<div id="thanks_form">
  <%= form_for(@thank) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :message, "THANKS TO..." %><br />
      <%= f.text_field :message, :class => 'message' %>
      <%= f.submit 'Thanks', :class => 'button' %>
    </p>
  <% end %>
</div>