<h1>New thank</h1>

<%= form_for(@thank) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :message, "Thanks to:" %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit 'Thanks' %>
  </p>
<% end %>
