<%= render 'new' %>
<div id="thanks_list">
  <div class="inner">
    <h2><%= image_tag('recent_appreciation.jpg', :alt => 'recent appreciation') %></h2>
    <ul>

    <% @thanks.reverse.each do |thank| %>
     <li><%= image_tag('avatar.jpg', :alt => 'thumb') %><p>Thanks to <%= link_to target_user(thank), user_path(thank.to_user) %> <%=h thank.message %> By <%= link_to source_user(thank), user_path(thank.from_user) %></p></li>
    <% end %>
    </ul>
  </div>
</div>