<!DOCTYPE html>
<html>
<head>
  <title>Thankerino</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui-1.8.4.custom.min' %>

  <% if user_signed_in? %>
    <%= javascript_include_tag 'thanks' %>
  <% end %>

  <%= csrf_meta_tag %>
</head>
<body>
<div id="main_border">
  <%- flash.each do |name, msg| -%>
  <div id="flash_<%= name %>"><%= msg %></div>
  <%- end -%>
  <div id="inner_border">
    <% if !user_signed_in? %>
      <%= link_to image_tag('register_btn.jpg', :alt => 'register'), new_user_registration_path, :class => "register_btn" if params[:controller] != "devise/registrations" %>
    <%= link_to image_tag('login_btn.jpg', :alt => 'login'), new_session_path(resource_name), :class => "login_btn" if params[:controller] != "devise/sessions" %>
    <% end %>
    
    <% if  user_signed_in? %>
      <%= link_to image_tag('logout.jpg', :alt => 'logout'), destroy_user_session_path(@user), :class => "logout" %>
      <div id="menu">
        <%= render 'layouts/menu' %>
      </div>
    <% end %>
    <div id="content">
      <%= yield  %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div id="footer_menu">
    <%= render 'layouts/menu' %>
  </div>
<% end %>

</body>
</html>
